<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Untitled Document</title>
    <style>
        body {
            /* background-color: #f2f2f2; */
        }

        table{
            position: relative;
        }

        table {
           background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        /* body>table{
            max-width: 600px;
            margin: 0px auto;
        } */
    </style>
</head>

<body>
    <table background="{{grocerusBigLogo}}" width="100%" border="0" bgcolor="#ffffff" cellspacing="0" cellpadding="0" style="max-width: 600px;margin: 0 auto;min-height: 380px;">
        <tbody>
            <tr>
                <!-- 4 -->
            	<td style="color: #ffffff;font-size: 18px; line-height: 24px;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;padding: 20px 20px 0 20px;">

	            	<p style="font-size: 14px;">Dear <span>Customer</span>,</p>

	                <p style="font-size: 14px;">We received a request to reset the password for your account. If you made this request, please click the following button:</p>

                    <a href="{{forgotPasswordUrl}}" style="font-size: .70rem;font-weight: 500;letter-spacing: 1px;padding: 9px 19px;border-radius: .25rem;text-transform: uppercase;border: none;cursor:pointer;background: #fff;color: #000;text-decoration: none;">Reset Password</a>
	                <p style="font-size: 12px;width: 300px;line-height: 16px;margin: 26px 0 0 0;">The password reset link is valid for {{OtpValidity}} minutes.If you didn't raise this request, please ignore this email.</p>

                </td>

                <td align="left" valign="top" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;padding: 0 15px 0 0;">
                    <img src= "{{grocerusLogo}}" alt="{{applicationName}}" style="margin-top: 20px;width: 150px;"> 
                </td>  </tr>
            
            <!-- 2 -->
            <tr>    <td colspan="2" align="left" style="color: #c1c0c0;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;padding: 0 10px 0px 20px;">
                	<p style="font-size: 14px;margin: 0 0 4px 0;">Thanks & Regards,</p>
                	<span style="display: block;margin: 0 0 2px 0;">{{applicationName}} Customer Support.</span>
                    <span style="display: block;margin: 0 0 2px 0;">Customer-care : {{customerCareContact}}</span>
                    <span style="display: block;margin: 0 0 2px 0;">e-mail : {{customerCareEmail}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>