<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{subject}}</title>
    
</head>

<body style="font-family: 'Segoe UI', sans-serif;background: #f4f5fa;padding: 20px;">
    <table width="100%" border="0" bgcolor="#ffffff" cellspacing="0" cellpadding="0" style="max-width: 600px;margin: 0 auto; box-shadow: 0px 9px 17px 4px rgba(0,0,0,0.05); text-align: left;">
        <tbody>
            <tr>
                <td style="text-align: center; padding: 10px; ">
                    <img src="{{applicationLogo}}" alt="{{applicationName}}"> 
                </td>                
            </tr>

            <tr>
                <td>
                    <img src="{{applicationBigLogo}}" alt="Banner image">
                </td>
            </tr>   
            
            <tr>
                <td style="padding: 30px 20px 0px 20px;">
                    <span style="font-weight: 700; font-size: 17px;">Dear {{userName}},</span>

					<p style="line-height: 20px;">Welcome to {{applicationName}} !</p>
                    <p style="line-height: 20px;">
					 You are one step away from being a part of the {{applicationName}} community. Kindly click on the link given below to verify your mail address and get complete access to the {{applicationName}} account.
					</p>
					
                    <a href="{{verify}}" style="font-size:12px;font-weight: 500;letter-spacing: 1px;padding: 9px 19px; margin:9px 0;display:inline-block;text-transform: uppercase;cursor:pointer;background: #000;color: #fff;text-decoration: none; border: none;">Click Here</a>
                    
                     <p style="line-height: 20px;">* {{linkValidity}}
                    </p>                 
                </td>
            </tr> 
             <tr>
                <td style="padding: 10px 20px;">{{thanksRegards}}<br>{{applicationName}} {{customerSupportTeam}}</td>
            </tr>
            <tr>
                <td style="color: #666666;font-size:14px; padding: 10px 20px;">
                 <span style="padding-bottom: 5px; display: inline-block;">{{customerCareNo}}: {{customerCareContact}}</span><br>
                    <span style="padding-bottom: 5px; display: inline-block;">{{emailAddress}}: <a href="javascript:void(0);{{customerCareEmail}}" style="color: #666666;font-size:14px;">{{customerCareEmail}}</a> </span><br>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>